.machine-faq .center {
  max-width: 1380px;
  margin: 0 auto
}

.machine-faq__haed-content {
  padding: 40px 0 60px;
  text-align: center;
  line-height: 1.4
}

.machine-faq__haed-content h2 {
  font-size: 48px;
  font-weight: 700
}

.machine-faq__haed-content p {
  margin-top: .8em;
  margin-bottom: 110px;
  font-size: 28px;
  font-weight: 500
}

.machine-faq__haed-content .img-content {
  display: block;
  width: 100%;
  margin-top: 32px;
  padding-top: 37.8%;
  background-image: url(/kr/story/faq/images/tiiun-faq/faq-keyvisual-pc.png);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat
}

#review-area .review-wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 130px;
}

#review-area .review-wrap h3 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}

#review-area .review-wrap .review-list {
  display: flex;
  gap: 40px;
  margin-top: 25px;
}

#review-area .review-wrap .review-list li {
  display: inline-flex;
}

#review-area .review-wrap .review-list li a {
  display: flex;
  flex-direction: column;
}

#review-area .review-wrap .review-list li a img {
  width: 100%;
}

#review-area .review-wrap .review-list li a strong {
  margin-top: 30px;
}

#review-area .review-wrap .review-list li a span {
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  #review-area .review-wrap {
    padding: 0 20px 130px;
  }

  #review-area .review-wrap {
    padding: 0 0 80px;
  }

  #review-area .review-wrap h3 {
    padding-left: 20px;
    font-size: 19px;
  }

  #review-area .review-wrap .review-list {
    margin-top: 16px;
    padding: 0 20px 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 8px;
  }

  #review-area .review-wrap .review-list li {
    width: 45%;
    flex: none;
  }

  #review-area .review-wrap .review-list li a {
    white-space: break-spaces;
  }

  #review-area .review-wrap .review-list li a strong {
    margin-top: 16px;
    font-size: 15px;
    line-height: 140%;
  }

  #review-area .review-wrap .review-list li a span {
    margin-top: 8px;
    font-size: 14px;
  }

  .machine-faq__haed-content {
    max-width: 100%;
    padding: 28px 20px 12px
  }

  .machine-faq__haed-content h2 {
    font-size: 1.571rem;
    margin: 2% 0 2%
  }

  .machine-faq__haed-content p {
    margin-top: 4px;
    font-size: 1.214rem;
    margin-bottom: 9%
  }

  .machine-faq__haed-content p span {
    display: block
  }

  .machine-faq__haed-content .img-content {
    margin-top: 20px;
    padding-top: 116%;
    background-image: url(/kr/story/faq/images/tiiun-faq/faq-keyvisual-mo.png)
  }
}

.machine-faq__tap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd
}

.machine-faq__tap button {
  position: relative;
  width: 50%;
  padding: 24px 0;
  color: #767676;
  font-size: 18px;
  line-height: 1
}

.machine-faq__tap button.active {
  color: #000;
  font-weight: 700
}

.machine-faq__tap button.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  content: ""
}

@media screen and (max-width: 1024px) {
  .machine-faq__tap button {
    font-size: 15px
  }
}

.machine-faq__inner-content {
  display: none;
  background-color: #f9f9f9
}

.machine-faq__inner-content.show {
  display: block
}

.machine-faq__inner-content .center {
  padding: 80px 0 100px
}

.machine-faq__inner-content h3 {
  padding-bottom: 40px;
  color: #000;
  font-size: 28px;
  text-align: center;
  line-height: 1.4;
  font-weight: 700
}

@media screen and (max-width: 1024px) {
  .machine-faq__inner-content .center {
    padding: 40px 16px
  }

  .machine-faq__inner-content h3 {
    padding-bottom: 24px;
    font-size: 22px
  }
}

.machine-faq__item {
  background-color: #fff;
  border-radius: 28px
}

.machine-faq__item.active .machine-faq__content {
  display: block
}

.machine-faq__item.active .machine-faq__title::after {
  right: 48px;
  margin-top: 0;
  transform: rotate(45deg) translateY(-50%)
}

@media screen and (max-width: 1024px) {
  .machine-faq__item.active .machine-faq__title::after {
    right: 25px
  }
}

.machine-faq__item+.machine-faq__item {
  margin-top: 24px
}

.machine-faq__item .block {
  display: block;
  font-weight: 700
}

.machine-faq__item .bold {
  font-weight: 700
}

/* .machine-faq__item .img-explain-content {
  display: block;
  width: 100%;
  padding-top: 69.8%;
  background-image: url(/kr/story/faq/images/tiiun-faq/img-explain-pc.png);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat
} */

.machine-faq__item .img-explain-content+p {
  padding: 24px 0 0
}

@media screen and (max-width: 1024px) {
  .machine-faq__item {
    border-radius: 18px
  }

  .machine-faq__item+.machine-faq__item {
    margin-top: 12px
  }

  /* .machine-faq__item .img-explain-content {
    padding-top: 284%;
    background-image: url(/kr/story/faq/images/tiiun-faq/img-explain-mo.png)
  } */

  .machine-faq__item .img-explain-content+p {
    padding: 12px 0
  }
}

.machine-faq__title {
  display: block;
  position: relative;
  padding: 32px 40px 24px;
  width: 100%;
  font-size: 24px;
  text-align: left;
  line-height: 1.4;
  font-weight: 700
}

.machine-faq__title::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 39px;
  width: 11px;
  height: 11px;
  margin-top: -10px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  transform: rotate(-135deg) translateY(-50%);
  content: ""
}

@media screen and (max-width: 1024px) {
  .machine-faq__title {
    padding: 20px 44px 16px 20px;
    font-size: 16px
  }

  .machine-faq__title::after {
    top: 30px;
    right: 19px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #000;
    border-left: 1px solid #000
  }
}

.machine-faq__content {
  display: none;
  position: relative;
  padding: 24px 40px 32px;
  font-size: 18px;
  line-height: 1.6
}

.machine-faq__content::before {
  display: block;
  position: absolute;
  top: 0;
  left: 32px;
  right: 0;
  width: calc(100% - 70px);
  height: 1px;
  background-color: #ddd;
  content: ""
}

@media screen and (max-width: 1024px) {
  .machine-faq__content {
    padding: 20px;
    font-size: 15px
  }

  .machine-faq__content::before {
    left: 20px;
    width: calc(100% - 40px)
  }
}

.machine-faq__more-content {
  padding-top: 24px
}

.machine-faq__more-content p {
  color: #767676;
  font-size: 16px;
  line-height: 1.6
}

.machine-faq__more-content a {
  position: relative;
  display: inline-block;
  margin-top: 8px;
  margin-right: 10px;
  padding: 12px 40px 12px 20px;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  border-radius: 500px;
  border: 1px solid #000
}

.machine-faq__more-content a::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 12px;
  height: 12px;
  margin-top: -1.5px;
  background-image: url("https://www.lge.co.kr/lg5-common/images/icons/icon-arr-16-bk.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  content: ""
}

@media screen and (max-width: 1024px) {
  .machine-faq__more-content p {
    font-size: 15px
  }

  .machine-faq__more-content a {
    margin-top: 12px;
    padding: 12px 38px 12px 20px;
    font-size: 12px
  }

  .machine-faq__more-content a::after {
    width: 10px;
    height: 10px
  }
}

.machine-faq__other-content {
  margin: 100px 0
}

.machine-faq__other-content .center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 28px
}

.machine-faq__other-content .center>div {
  width: 50%;
  text-align: center
}

.machine-faq__other-content h3 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700
}

.machine-faq__other-content p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.4
}

.machine-faq__other-content .links {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px
}

.machine-faq__other-content .links a {
  display: inline-block;
  padding: 12px 40px 12px 16px;
  min-width: 298px;
  border: 1px solid #000;
  border-radius: 500px
}

.machine-faq__other-content .links a span {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 1;
  font-weight: 700
}

.machine-faq__other-content .links a span::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -30px;
  width: 12px;
  height: 12px;
  margin-top: -1.5px;
  background-image: url("https://www.lge.co.kr/lg5-common/images/icons/icon-arr-16-bk.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  content: ""
}

.machine-faq__other-content .img-content {
  display: block;
  width: 50%;
  padding-top: 36.3%;
  border-radius: 28px;
  background-image: url(/kr/story/faq/images/tiiun-faq/faq-other-pc.png);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat
}

@media screen and (max-width: 1024px) {
  .machine-faq__other-content {
    margin: 40px 0 20px
  }

  .machine-faq__other-content .img-content {
    width: 100%;
    padding-top: 58.5%;
    background-image: url(/kr/story/faq/images/tiiun-faq/faq-other-mo.png)
  }

  .machine-faq__other-content .center {
    flex-direction: column;
    margin: 0 16px;
    border-radius: 50px 50px 28px 28px
  }

  .machine-faq__other-content .center>div {
    width: 100%;
    padding: 20px 16px 40px;
    text-align: center
  }

  .machine-faq__other-content h3 {
    font-size: 18px
  }

  .machine-faq__other-content p {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: -0.7px
  }

  .machine-faq__other-content .links {
    margin-top: 20px;
    gap: 8px
  }

  .machine-faq__other-content .links a {
    display: block
  }
}