@charset "UTF-8";

/************ FONT ************/
@font-face{
	font-family:'Pretendard'; font-display:swap;
	src:url(../fonts/Pretendard-Light.eot);
	src:local("☺"),url(../fonts/Pretendard-Light.eot#iefix) format("embedded-opentype"),
	url(../fonts/Pretendard-Light.woff2) format("woff2"),url(../fonts/Pretendard-Light.woff) format("woff"),
	url(../fonts/Pretendard-Light.otf) format("opentype");
	font-weight:300; font-style:normal
}
@font-face{
	font-family:'Pretendard'; font-display:swap;
	src:url(../fonts/Pretendard-Regular.eot);
	src:local("☺"),url(../fonts/Pretendard-Regular.eot#iefix) format("embedded-opentype"),
	url(../fonts/Pretendard-Regular.woff2) format("woff2"),url(../fonts/Pretendard-Regular.woff) format("woff"),
	url(../fonts/Pretendard-Regular.otf) format("opentype");
	font-weight:400; font-style:normal
}
@font-face{
	font-family:'Pretendard'; font-display:swap;
	src:url(../fonts/Pretendard-Medium.eot);
	src:local("☺"),url(../fonts/Pretendard-Medium.eot#iefix) format("embedded-opentype"),
	url(../fonts/Pretendard-Medium.woff2) format("woff2"),url(../fonts/Pretendard-Medium.woff) format("woff"),
	url(../fonts/Pretendard-Medium.otf) format("opentype");
	font-weight:500; font-style:normal
}
@font-face{
	font-family:'Pretendard'; font-display:swap;
	src:url(../fonts/Pretendard-SemiBold.eot);
	src:local("☺"),url(../fonts/Pretendard-SemiBold.eot#iefix) format("embedded-opentype"),
	url(../fonts/Pretendard-SemiBold.woff2) format("woff2"),url(../fonts/Pretendard-SemiBold.woff) format("woff"),
	url(../fonts/Pretendard-SemiBold.otf) format("opentype");
	font-weight:600; font-style:normal
}
@font-face{
	font-family:'Pretendard'; font-display:swap;
	src:url(../fonts/Pretendard-Bold.eot);
	src:local("☺"),url(../fonts/Pretendard-Bold.eot#iefix) format("embedded-opentype"),
	url(../fonts/Pretendard-Bold.woff2) format("woff2"),url(../fonts/Pretendard-Bold.woff) format("woff"),
	url(../fonts/Pretendard-Bold.otf) format("opentype");
	font-weight:700; font-style:normal
}
@font-face{
	font-family:'Pretendard'; font-display:swap;
	src:url(../fonts/Pretendard-ExtraBold.eot);
	src:local("☺"),url(../fonts/Pretendard-ExtraBold.eot#iefix) format("embedded-opentype"),
	url(../fonts/Pretendard-ExtraBold.woff2) format("woff2"),url(../fonts/Pretendard-ExtraBold.woff) format("woff"),
	url(../fonts/Pretendard-ExtraBold.otf) format("opentype");
	font-weight:800; font-style:normal
}


/************ Animation ************/
.animate__fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
.animate__fadeInDown { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; }
.animate__zoomInUp { -webkit-animation-name: zoomInUp; animation-name: zoomInUp; }
.animate__animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animate__animated:not(.ani) { opacity:0; -webkit-animation-name: none; animation-name: none; }
.animate__animated.ani_out { -webkit-animation-duration: 0.6s; animation-duration: 0.6s; -webkit-animation-name: aniOut; animation-name: aniOut; }
@-webkit-keyframes fadeInUp {
	from { opacity: 0; -webkit-transform: translate3d(0,10vh,0); transform: translate3d(0,10vh,0); }
	to { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
}
@keyframes fadeInUp {
	from { opacity: 0; -webkit-transform: translate3d(0,10vh,0); transform: translate3d(0,10vh,0); }
	to { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
}
@-webkit-keyframes fadeInDown {
	from { opacity: 0; -webkit-transform: translate3d(0,-10vh,0); transform: translate3d(0,-10vh,0); }
	to { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
}
@keyframes fadeInDown {
	from { opacity: 0; -webkit-transform: translate3d(0,-10vh,0); transform: translate3d(0,-10vh,0); }
	to { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
}
@-webkit-keyframes zoomInUp {
	from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
	to { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
}
@keyframes zoomInUp {
	from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
	to { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
}
@-webkit-keyframes aniOut {
	from { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
	to { opacity: 0; -webkit-transform: translate3d(0,10vh,0); transform: translate3d(0,10vh,0); }
}
@keyframes aniOut {
	from { opacity: 1; -webkit-transform: translateZ(0); transform: translateZ(0); }
	to { opacity: 0; -webkit-transform: translate3d(0,10vh,0); transform: translate3d(0,10vh,0); }
}

@keyframes dp-fade-up {
	from{ transform: translateY(50%); opacity: 0;}
	to{ transform: translateY(0%); opacity: 1;}
}

/************ LGE common 코드 [수정불가] ************/
.sns-share{position: relative;text-align: right;max-width: 1284px;margin: 0 auto;padding: 20px 20px 4px 20px}
.sns-share .tooltip-wrap.share .tooltip-box{top: 48px;right: 10px}
@media (min-width:768px){
	.sns-share{padding: 24px;}
	.sns-share .tooltip-wrap.share .tooltip-box{top: 34px;}
}


/************ COMMON ************/
html{ font-size:1px;}
@media (min-width: 768px) and (max-width: 1300px) { html { font-size:0.07692307692307692vw; } }
/*@media (max-width:359px) { html { font-size:2.777777777777778vw; } }*/
body, button, input, select, table, textarea{ font-family: 'Pretendard', sans-serif; font-weight: 500; font-size: 20rem; line-height: 1.4; letter-spacing: -0.02em;}
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, table, td, textarea, th, ul{word-break:keep-all;}
img, video { max-width: 100%; vertical-align: top; }
.container-washtower-washcombo{
	--point-color:#EF453A;
	.con-box{ max-width: 100%; width: 1520rem; margin-left: auto; margin-right: auto; position: relative;}
	h1{ font-size: 72rem; font-weight: 600;}
	h2{ font-size: 60rem; font-weight: 600; letter-spacing: -.04em;}
	h3{ font-size: 56rem; font-weight: 600;}
	b{ font-weight: 700;}
	strong{ font-weight: 800;}
	em{ color: var(--point-color);}
	._btn{ display: inline-flex; align-items: center; padding: 16rem 48rem; border-radius: 99rem; background-color: #000; font-size: 20rem; font-weight: 700; color: #fff;
		&::after{ content: ''; width: 16rem; height: 16rem; background: url(../img/washtower-washcombo/icon-btn-arr.png)no-repeat center center / contain; margin-left: 8rem;}
		&.ty_w{ background-color: #fff; color: #000; border: 1px solid #000;
			&::after{ background-image: url(../img/washtower-washcombo/icon-btn-arr-b.svg);}
		}
	}
	.wash-tit{ margin-bottom: 80rem;
		span{ font-size: 22rem; font-weight: 700; padding: 6rem 12rem; background-color: #f1f1f1; border-radius: 4rem;}
		h3{margin-top: 20rem; font-weight: 700; line-height: 1.3;}
	}
	.on .dp-fade-up{ animation: dp-fade-up .5s ease backwards;}
	.dly1{ animation-delay:.1s !important;}
	.dly2{ animation-delay:.2s !important;}
	.dly3{ animation-delay:.3s !important;}
	.dly4{ animation-delay:.4s !important;}
	.dly5{ animation-delay:.5s !important;}
	.dly6{ animation-delay:.6s !important;}
	
	/* VISUAL */
	.page-tit{ position: sticky; left: 0; top: -51vw; z-index: 30; overflow: hidden; transition: .4s;
		.bg{ width: 100%; height: 51vw; object-fit: cover;}
		.txt-box{ position: absolute; top: 8.646vw; left: 20.313vw; max-width: 100%; z-index: 5;
			span{ display: inline-block; padding: 0.313vw 0.625vw; border-radius: 4rem; background-color: #ece2da; font-weight: 700; font-size: 1.042vw;}
			h1{ font-size: 4.792vw; font-weight: 800; line-height: 1.2; margin: 1.667vw 0 2.917vw;
				em{ display: block; font-size: 2.708vw;}
			}
			p{ font-size: 1.354vw; line-height: 1.7; font-weight: 400; color:#292929;
				b{ font-weight: 600;}
			}
		}

		.main-tab{ display: flex; background-color: #fff; position: relative;
			.con-box{  display: flex;
				button{ width: 100%; font-weight: 600; color: #999; text-align: center; padding: 29rem 0; border-bottom: 1px solid #efefef; cursor: pointer;
					&.on{ color: #000; font-weight: 800; border-bottom: 2px solid #000; cursor: default; touch-action: none; pointer-events: none;}
				}
			}
		}
	}

	#tab-contents{ position: relative; overflow: hidden;}
	.con-wrap{ position: absolute; left: 0; top: 0; touch-action: none; pointer-events: none; opacity: 0; visibility: hidden;
		&.on{ position: relative; opacity: 1; touch-action: auto; pointer-events: auto;  visibility: visible;}
	}

	/* SURVEY */
	.solution-survey{ width: 100%; background-color: #F7F5F2; padding: 40rem; text-align: center; position: relative;
		.progress-bar{ position: absolute; left: 0; top: 80rem; width: 100%; padding: 0 100rem; z-index: 10;
			span{ display: block; width: 0%; height: 8rem; border-radius: 999rem; background-color: #f1f1f1; position: relative; overflow: hidden; transition: .5s ease;
				i{ background-color: #000; position: absolute; left: 0; top: 0; width: 0%; height: 100%; border-radius: 999rem; transition: .5s ease;}
			}
			&.on span{ width: 100%; transition: 1s cubic-bezier(0.87, 0, 0.13, 1);
				i{ width: 25%;}
			}
		}
		.survey-swiper-wrap{position: absolute; left: calc(50% - 640rem); right: 240rem; bottom: 176rem; overflow: hidden; height: 510rem; touch-action: none; pointer-events: none; opacity: 0; width: 1280rem;
			&.on{ opacity: 1;}
		}
		.survey-swiper{  width:1680rem; height: 100%; position: absolute; left: 50%; top:0; transform: translateX(-50%);
			.swiper-wrapper{
				.swiper-slide{ display: flex; align-items: flex-end; padding-bottom: 98rem;
					&.swiper-slide-active{ width: 280rem !important; padding-bottom: 48rem;}
					img{ width: 100%; transform: translateX(-50rem); }
				}
			}
		}
		.survey-wrap{ width: 100%; overflow: hidden; position: relative; border-radius: 20rem; background-color: #fff;
			.survey-slot{transition: .5s ease-out;
				height: 780rem; display: none;
				h2{ font-size: 52rem;}
				&.on{ display: block;}
				.btn-wrap{ position: absolute; left: 0; bottom: 40rem; width: 100%; display: flex; justify-content: center;}
				&.survey-visual{ padding-top: 84rem;
					.txt-box{
						p{ margin-top: 24rem; font-size: 28rem;
							em{ font-size: 32rem; font-weight: 700;}
						}
					}
					.btn-wrap{ bottom: 76rem;}
				}
				&.step-slot{ padding: 108rem 60rem 60rem;
					.txt-box{ font-weight: 800;
						p{ color: var(--point-color); font-weight: 800;}
						h3{ margin-top: 10rem; font-weight: 800; font-size: 48rem;}
					}
					.answer-box{ display: flex; align-items: center; justify-content: center; margin-top: 40rem;
						.img-box{ overflow: hidden; border-radius: 999rem; background-color: #f4f4f4;
							img{ width: 620rem;}
						}
						.ip-box{ width: 530rem; text-align: left; margin-left: 80rem;
							label{ display: block; position: relative; cursor: pointer; width: 100%;
								&:not(:last-child){ margin-bottom: 16rem;}
								p{ display: flex; align-items: center; justify-content: space-between; width: 100%; height: 76rem; padding: 0 40rem; border: 1px solid #d6d6d6; border-radius: 12rem; font-size: 22rem; font-weight: 500;  color: #666; }
								i{ width: 34rem; height: 34rem; border-radius: 50%; border: 1px solid #d6d6d6; position: relative;
									&::after{ content: ''; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url(../img/washtower-washcombo/icon-check.svg)no-repeat center center / 66% auto;}
								}
								input{ opacity: 0; width: 0; height: 0; overflow: hidden; position: absolute; right: 0; top: 0;
									&:checked + p{ border: 2px solid var(--point-color); font-weight: 700; color: #000;
										i{ border-color: var(--point-color); background-color: var(--point-color);}
									}
								}
							}
							&.ty2{ display: flex; flex-wrap: wrap; justify-content: space-between;
								label:not(:last-child){ width: calc(50% - 8rem); margin:0 0 16rem;}
							}
						}
					}
					.btn-wrap{
						button{ width: 235rem; height: 78rem; font-weight: 600;border-radius: 999rem; background-color: #EDEDED; color:#666; transition: .3s ease;
							&.disabled{ touch-action: none; pointer-events: none;}
							&.prv.disabled{ background-color: transparent; border: 1px solid #dfdfdf; color:#d6d6d6;}
							&.nxt{ color: #fff; background-color: #000; margin-left: 24rem;
								&.disabled{ background-color: #eee; color: #ccc;}
							}
						}
					}
				}
				&.result-slot{ padding: 68rem 160rem; height: auto;
					.wash-info{ display: flex; align-items: center; justify-content: center; padding: 60rem 0 64rem; margin-bottom: 64rem; border-bottom: 1px solid #dfdfdf;
						.img-box{ display: flex; align-items: center; justify-content: center; width: 480rem; height: 480rem; background-color: #e5e7f0; padding: 30rem 110rem; margin-right: 100rem; overflow: hidden; border-radius: 4rem;
							img{ width: 100%; height: 100%; object-fit: contain;}
						}
						.txt-box{ text-align: left;
							em{ display: block; font-size: 40rem; font-weight: 700;}
							p{ font-size: 22rem; color: #292929; margin: 20rem 0 44rem; line-height: 1.7;}
						}
					}
					.recommend{
						.tit{ font-size: 38rem; font-weight: 700;}
						.recommend-list{ display: flex; margin: 44rem 0 60rem; text-align: left;
							li{ width: 100%;
								+ li{ margin-left: 24rem;}
								a{ width: 100%; border: 1px solid #dfdfdf; padding: 20rem; display: flex; align-items: center; border-radius: 4rem;
									.img-box{ width: 130rem; height: 194rem; display: flex; align-items: center; justify-content: center; margin-right: 20rem; background-color: #D9DFD7; flex-shrink: 0; padding: 16rem; border-radius: 4rem;}
									.txt-box{
										i{ font-size: 16rem; color: #999; font-style: normal; display: block; margin-bottom: 4rem;}
										p{ line-height: 1.4; margin-bottom: 40rem; letter-spacing: -0.06em; white-space: nowrap;
											b{ display: block;}
										}
										span{ display: inline-flex; align-items: center; font-size: 16rem; font-weight: 800; border-bottom: 2px solid #000;
											&::after{ content: ''; width: 15rem; height: 15rem; background: url(../img/washtower-washcombo/icon-btn-arr-b.svg)no-repeat center center / contain; filter: brightness(0); margin-left: 6rem;}
										}
									}
								}
								&:nth-child(2) a .img-box{ background-color: #E2EBEA;}
								&:nth-child(3) a .img-box{ background-color: #E9E5F0;}
								&:nth-child(4) a .img-box{ background-color: #F4F4F5;}
							}
						}
					}
					.more-btn{ display: inline-flex; align-items: center; font-size: 18rem; color: #666; border-bottom: 1px solid #666; line-height: 1.5;
						&::after{ content: ''; width: 15rem; height: 15rem; background: url(../img/washtower-washcombo/icon-btn-arr.png)no-repeat center center / contain; filter: brightness(.4); margin:-3rem 0 0 12rem;}
					}

					&.combo{
						.wash-info .img-box{ background-color: #DEE8E7; border-radius: 4rem;}
						.recommend-list{
							li{
								a .img-box{ background-color: #CDCDCD;}
								&:nth-child(2) a .img-box{ background-color: #F8F3F1;}
								&:nth-child(3) a .img-box{ background-color: #E7EAEA;}
								&:nth-child(4) a .img-box{ background-color: #F1F1F3;}
							}
						}
					}
				}
			}
		}
	}

	/* DETIALS */
	.line-txt{ font-size: 28rem; font-weight: 700; display: inline-block; position: relative; padding: 0 5rem; 
		&::before{ content: ''; display: block; width: 100%; height: 46%; background-color: #E5E7F0; position: absolute; left: 0; bottom: 0; z-index: -1; transform: scaleX(0); transition: .5s ease .8s; transform-origin: left center;}
	}
	li + li .line-txt::before{ background-color: #F5EFEC; transition-delay: .9s;}
	.ani .line-txt::before{ transform: scaleX(1);}

	.detail-compare{ padding: 240rem 0 200rem;
		.compare-form{ margin: 200rem 0 160rem;
			ul{ display: flex;
				li{ width: 100%; transform: translateY(-10%);
					+ li{ margin-left: 40rem; transform: translateY(10%);}
					.img-box{ display: flex; align-items: center; justify-content: center; width: 100%; height: 820rem; background-color: #E5E7F0; position: relative; overflow: hidden; border-radius: 4rem;
						b{ font-size: 280rem; color: #fff; opacity: .3; line-height: 1; text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
						img{ position: relative; width: 36%;}
					}
					.txt-box{ margin-top: 48rem;
						p{ font-size: 40rem; margin-bottom: 28rem;}
					}
					&:last-child{
						.img-box{ background-color: #F5EFEC;
							img{ width: 48%;}
						}
					}
				}
			}
		}

		.compare-volume{
			ul{ display: flex;
				li{ width: 100%;
					+ li{ margin-left: 40rem;}
					.img-box{ border-radius:4rem; overflow:hidden; 
						img{ width: 100%;}
					}
					.txt-box{ margin-top: 82rem;
						&::before{ content: ''; display: block; width: 57rem; height: 40rem; background: url(../img/washtower-washcombo/icon-dqm.png)no-repeat center center / contain;}
						p{ font-size: 40rem; margin: 56rem 0 28rem;}
					}
				}
			}
		}
		
		.compare-space{ position: relative; margin-top: 220rem;
			.compare-space-wrap{ width: calc(50% - 40rem);}
			.img-box{ position: absolute; right: 0; top: 0; width: calc(50% - 20rem); height: 100%; border-radius:4rem; overflow: hidden;
				img{ width: 100%; height: 100%; object-fit: cover; display: none;}
				.txt-box{ width: 100%; position: absolute; left: 0; bottom: 0; padding: 20rem; display: flex; align-items: center; justify-content: space-between; font-size: 16rem; color: #fff;}
			}
			.tab-box{ 
				ul{
					li{ padding: 40rem 60rem; border: 1px solid #d6d6d6; border-radius: 4rem; transition: .3s ease; cursor: pointer;
						+ li{ margin-top: 24rem;}
						.tit{ display: block; font-size: 28rem; font-weight: 700; position: relative; 
							&::before, &::after{ content: ''; display: block; width: 16rem; height: 3rem; background-color: #000; position: absolute; right: 0; top: 50%; border-radius: 10rem; transition: .3s ease;}
						}
						.info{ font-size: 32rem; line-height: 1.5; display: none;}
						&.on{ border-color: #000; cursor: default;
							.tit::after{ transform: rotate(90deg);}
							.info{ display: block; padding-top: 36rem;}
						}
					}
				}
				.recommend-box{ display: block; background-color: #1C1C1C; border-radius: 20rem; color: #fff; position: relative; margin-top: 100rem; padding: 32rem 36rem 32rem 198rem;
					img{ position: absolute; left: 60rem; bottom: 0;}
					.txt-box{
						.txt1{ font-size: 16rem; color: #c9c9c9;}
						.txt2{ font-size: 24rem; line-height: 1.5; margin:4rem 0 18rem;}
						span{ display: inline-flex; padding-bottom: 1rem; align-items: center; font-size: 16rem; font-weight: 700; border-bottom: 1px solid #fff;
							&::after{ content: ''; width: 15rem; height: 15rem; background: url(../img/washtower-washcombo/icon-btn-arr.png)no-repeat center center / contain; margin:-2rem 0 0 6rem;}
						}
					}
				}
			}
		}	
	}

	.find-pd-main-tit{ text-align: center; padding:160rem 0 200rem}
	
	.find-lifestyle{  overflow: hidden;
		.wash-tit p{font-size: 26rem; color: #989898; margin-top: 24rem;}
		.lifestyle-list{ padding-bottom: 120rem;
			> ul > li{ margin-top: 100rem; position: relative; display: flex; align-items: center; justify-content: space-between;
				&:nth-child(even){ flex-direction: row-reverse;}
				&:nth-child(2) .img-box{ background-color: #E7EAEA;}
				&:nth-child(3) .img-box{ background-color: #E5E7F0;}
				.deco-txt{ position: absolute; text-align: center; font-size: 180rem; color: #f9f9f9; line-height: 1;
					&.ty1{ right: -246rem; top: -99rem;}
					&.ty2{ left: -300rem; bottom: -172rem;}
				}
				.img-box{ width: 740rem; display: flex; align-items: center; justify-content: center; height: 780rem; background-color: #F8F3F1; border-radius: 4rem; overflow: hidden;}
				.txt-box{  width: 700rem;
					.tit{ display: block; font-size: 40rem; margin: 40rem 0 44rem; 
						span{ font-size: 18rem; color: #666; font-weight: 500;margin-left: 6rem;}
					}
					.point{ font-size: 22rem;
						li{
							+ li { margin-top: 8rem;}
							&::before{ content: '•'; margin-right: 6rem;}
						}
					}
					.hashtag{ display: flex; flex-wrap: wrap; padding: 32rem 0 66rem; border-bottom: 1px solid #dfdfdf; margin-bottom: 40rem;
						li{ padding: 6rem 14rem; border-radius: 999rem; background-color: #f1f1f1; font-size: 18rem; color: #666; margin: 0 6rem 6rem 0; white-space: nowrap;
							&::before{ content: '#';}
						}
					}
					.name{ display: flex; align-items: center; justify-content: space-between; font-size: 28rem;
						span{ display: flex; align-items: center; font-size: 22rem; font-weight: 700; border-bottom: 2px solid #000;
							&::after{ content: ''; width: 18rem; height: 18rem; background: url(../img/washtower-washcombo/icon-btn-arr.png)no-repeat center center / contain; filter: brightness(0); margin:-3rem 0 0 12rem;}
						}
					}
				}
			}
		}
	}

	.wash-pagi{ display: flex; margin: 0 auto; padding: 10rem; border-radius: 99rem; background-color: #fff; width: max-content; max-width: 100%; overflow: hidden; position: relative;
		button, span{ background-color: transparent; width: 184rem; height: auto; opacity: 1; border-radius: 999rem; color: #999; font-size: 24rem; text-align: center; transition: .3s ease; padding: 12rem;
			&.on, &.swiper-pagination-bullet-active{ background-color: #000; color: #fff;}
		}
	}

	.find-function{ background-color: #F7F5F2; padding: 120rem 0 132rem;
		.wash-tit{ text-align: center; margin-bottom: 40rem;
			span{ background-color: #DFDFDF;}
		}
		.wash-pagi{
			span{  margin: 0 auto;
				&::after{ content: '깨끗함';}
				&:nth-child(2)::after{ content: '시간';}
				&:nth-child(3)::after{ content: '섬세함';}
				&:nth-child(4)::after{ content: '간편함';}
			}
		}
		.func-nav{
			span{ width: 64rem; height: 64rem; position: absolute; left: 0; top: 643rem; transform: translateX(-50%) rotate(180deg); background: #fff url(../img/washtower-washcombo/icon-btn-arr-b.svg) no-repeat center center / 45% auto; border-radius: 50%; box-shadow: 2rem 8rem 20rem rgba($color: #848BA2, $alpha: .1); cursor: pointer; z-index: 10; transition: .5s ease; border: 1px solid transparent;
				&.nxt{ transform: translateX(50%); left: auto; right: 0;}
				&.swiper-button-disabled{ opacity: 0;}
			}
		}
		.function-info{ margin-top: 60rem; position: relative;
			.info-slot{
				.info-box{ display: flex; justify-content: space-between; padding: 60rem; background-color: #fff; border-radius: 4rem;
					> div{ width: 660rem;}
					.img-box{
						.img-wrap{ overflow: hidden; border-radius: 4rem;
							video{ width: 100%; height: 610rem; object-fit: cover;}
						}
						p{ font-size: 16rem; color: #929292; margin-top: 16rem;}
					}
					.txt-box{ padding:50rem 0 38rem; margin-left: 20rem; position: relative; display: flex; flex-direction: column; justify-content: space-between;
						.txt-wrap{
							span{ font-weight: 700;}
							b{ display: block; margin: 20rem 0 48rem; font-size: 40rem; letter-spacing:-2rem;}
							p{ color: #292929; line-height: 1.6;}
						}
						.more-btn{ display: flex; align-items: center; font-size: 16rem; color: #999; padding: 8rem 15rem; border-radius: 99rem; border: 1px solid #999; position: absolute; right: 0; bottom: -16rem;
							&::before{ content: '더보기';}
							i{ width: 10rem; height: 10rem; margin-left: 8rem; position: relative;
								&::before, &::after{ content: ''; width: 100%; height: 2rem; min-height: 2px; background-color: #999; position: absolute; left: 0; top: 35%;}
								&::after{ transform: rotate(90deg); transition: .3s ease;}
							}
							
						}
						.swiper{margin-top: 72rem; width: 100%;
							.swiper-wrapper{ height: auto;}
							.swiper-slide{  height: 136rem; border-radius: 4rem; background-color: #f9f9f9; padding: 0 109rem; display: flex; align-items: center; overflow: hidden;
								.txt{ margin-left: 36rem;
									p{ font-size: 22rem; margin-bottom: 8rem;}
									a{ font-size: 16rem; border-bottom: 1px solid #000; display: inline-flex; align-items: center; font-weight: 700;
										&::after{ content: ''; width: 15rem; height: 15rem; background: url(../img/washtower-washcombo/icon-btn-arr.png)no-repeat center center / contain; filter: brightness(0); margin:-3rem 0 0 4rem;}
									}
								}
							}
							.sld-nav{ 
								span{ width: 24rem; height: 24rem; background: url(../img/washtower-washcombo/icon-btn-arr3.svg)no-repeat center center / contain; position: absolute; right: 28rem; top: 36%; z-index: 10; filter:brightness(0); cursor: pointer;
									&.prv{ left: 28rem; right: auto; transform: rotate(180deg);}
								}
							}
							.pagi{ margin-top: 16rem; font-size: 0; text-align: center;
								span{ width: 8rem; height: 8rem; margin: 0 5rem; background-color: #999;}
							}
						}
					}
				}
				&.on .info-box .txt-box .more-btn{
					&::before{ content: '접기';}
					i::after{ transform: rotate(0deg);}
				}
				.features-box{ display: none; background-color: #eeece9; padding: 40rem 60rem; color: #666; font-size: 18rem; font-weight: 400; line-height: 1.6; border-radius:0 0 4rem 4rem; margin-top:-4rem;
					span{ display: block; font-weight: 600; margin-bottom: 20rem;}
					p + span{ margin-top: 30rem;}
				}
			}
		}
	}
	
	.find-color{ text-align: center; padding: 120rem 0;
		.wash-pagi{background-color: #F4F4F4;}
		.color-info-txt{ margin: 36rem 0 32rem; font-size: 26rem; line-height: 1.6;}
		.color-info{ 
			.info-slot{ display: none; width: 100%; position: relative; overflow: hidden;
				.img-list{ width: 100%; border-radius: 4rem; overflow: hidden;
					img{ display: none; width: 100%;}
				}
				.swiper-wrap{ display: flex; position: absolute; left: 50%; transform: translateX(-50%); bottom: 30rem;
					&::before{ content: ''; position: absolute; left: 0; right: 0; top: 8rem; bottom: 8rem; border-radius: 12px; background: rgba(235, 235, 235, 0.45); box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.08); backdrop-filter: blur(10px);}
					.sld-nav{ width: 48rem; background: url(../img/washtower-washcombo/icon-btn-arr2.svg)no-repeat center center / 24rem auto; cursor: pointer;  z-index: 1;
						&.prv{ transform: rotate(180deg);}
						&.swiper-button-disabled{ opacity: .2; cursor: default ;}
					}
					.swiper{ width: 876rem;
						.swiper-slide{ font-size: 15rem; font-weight: 600; cursor: pointer;
							&::before{ content: ''; width: 100%; height: 100%; background-color: #fff; position: absolute; left: 0; top: 0; border-radius: 20rem; opacity: 0; transform: scale(.9); transition: .3s ease;} 
							.inner{ width: 100%; height: 100%; position: relative; padding: 24rem 0; transition: .3s ease;
								.palette{ width: 40rem; height: 40rem; margin: 0 auto 10rem; border-radius: 50%; padding: 5rem; border: 1px solid #000; z-index: 1; position: relative;
									span{ display: flex; flex-direction: column; width: 100%; height: 100%; border-radius: 50%; overflow: hidden;
										i{ display: block; width: 100%; height: 100%;}
									}
								}
								.arr{ display: block; width: 18rem; height: 18rem; background: url(../img/washtower-washcombo/icon-link_arr.svg)no-repeat center center / contain; position: absolute; left: 50%; bottom: 14rem; transform: translateX(-50%) scale(.3); transition: .3s ease; opacity: 0;}
							}
							.name{ z-index: 1; position: relative;height: 47rem;  display: flex; align-items: center; justify-content: center; padding-bottom: 5rem;}
							&.on{ cursor: default;
								&::before{ opacity: 1; transform: scale(1);}
								.inner{ padding: 16rem 0;
									.arr{ transform: translateX(-50%) scale(1); opacity: 1;
										&:hover{  transform: translateX(-50%) scale(1.2);}
									}
								}
							}
						}
						.swipe-info{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1;}
						&.tcX{ touch-action: none; pointer-events: none;}
					}
				}
				&.color-combo .swiper-wrap .swiper{ width: 722rem;}
			}
		}
		.info{ text-align: left; font-size: 16rem; color: #999; margin-top: 16rem;}
	}
	
	.find-product{ position: relative; text-align: center; color: #fff; overflow: hidden;
		.bg{ width: 100%;}
		.txt-box{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%;
			._btn{ margin-top: 32rem; border: none;}
		}
	}

	.wash-faq{ background-color: #f9f9f9; padding: 200rem 0;
		h2{ text-align: center; margin-bottom: 100rem; line-height: 1.5;}
		.tab-list{
			li{ padding: 0 80rem; background-color: #fff; border-radius: 4rem; cursor: pointer;
				+ li{ margin-top: 24rem;}
				.q-box{ display: block; padding: 40rem 0; font-size: 26rem; font-weight: 700; position: relative;
					&::before{ content: 'Q. '; color: var(--point-color); font-weight: inherit; font-size: inherit;}
					&::after{ content: ''; width: 23rem; height: 23rem; background: url(../img/washtower-washcombo/icon-btn-arr.png)no-repeat center center / contain; position: absolute; right: 0; top: 50%; transform: translateY(-50%) rotate(90deg); transition: .3s ease; filter: brightness(0);}
				}
				.a-box{ padding: 32rem 0 50rem; line-height: 1.7; border-top: 1px solid #d9d9d9; display: none;
					.btn-wrap{ margin-top:20rem;
						span{display: block; margin-bottom:15rem; color: #767676; font-size: 18rem;}
						._btn{ padding:10rem 30rem; font-size:18rem; margin-right:6rem;}
					}
				}
				&.on{ 
					.q-box::after{ transform: translateY(-50%) rotate(-90deg);}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.mo-only{ display: none !important;}
}

@media (max-width: 1520px) and (min-width:768px) {
	.container-washtower-washcombo .find-lifestyle .lifestyle-list > ul > li .txt-box{ margin: 0 20rem;}
}
@media (max-width: 1300px) {
	.container-washtower-washcombo{
		.page-tit{ 
			.animate__animated{ -webkit-animation: none; animation: none;  }
			.txt-box{ top: 80rem;} 
		}
		.con-box{ width: 1215rem;}
		.solution-survey{
			.survey-swiper-wrap{left: 40rem; right: 40rem; width: auto;}
			.survey-swiper{
				.swiper-wrapper{
					.swiper-slide{ padding-bottom: 96rem;
						&.swiper-slide-active{ padding-bottom: 50rem;}
						img{ transform: translateX(-4.6vw);}
					}
				}
			}
			.survey-wrap .survey-slot{
				&.result-slot{
					.wash-info{
						.img-box{ flex-shrink: 0;}
						.txt-box p br{ display: none;} 
					}
					.recommend .recommend-list{ display: block;
						li{
							+ li{ margin: 20rem 0 0;}
							a .img-box img{ transform: scale(0.74);}
						}
					}
					&.tower{
						.recommend .recommend-list li a .img-box img{ transform: scale(.62);}
					}
				}
			}
		}
		.detail-compare .compare-space .recommend-box img{ width: 100rem; left: 50rem;}
		.find-lifestyle .lifestyle-list > ul > li{
			.txt-box{ width: 48%;}
			.img-box{ width: 48%; padding: 40rem;
				img{width: auto; height: 100%;}
			}
		}
		.find-function .function-info .info-slot .info-box{
			> div{ width: 48%;}
			.txt-box{ padding-top: 0; padding-bottom: 80rem;
				.txt-wrap p br{ display: none;}
				.swiper .swiper-slide img{ width: 35rem;}
			}
		}
	}
}

@media (max-width: 767px) {
	.pc-only{ display: none !important;}
	body, button, input, select, table, textarea{ font-size: 15rem;}
	.container-washtower-washcombo{
		.con-box{ width: calc(100% - 40rem);}
		h1{ font-size: 28rem;}
		h2{ font-size: 24rem;}
		h3{ font-size: 24rem;}
		._btn{ padding: 10rem 30rem; font-size: 15rem;
			&::after{ margin-left: 4rem; width: 13rem; height: 13rem;}
		}
		.wash-tit{ margin-bottom: 28rem;
			span{ padding: 5rem 8rem; font-size: 12rem;}
			h3{margin-top: 12rem;}
		}

		/* VISUAL */
		.page-tit{ top:-658rem;
      .bg{ height:658rem;}
			.txt-box{ top: 60rem; left: 40rem;
				span{ padding: 6rem 12rem; font-size: 16rem;}
				h1{ font-size: 52rem; margin: 20rem 0 14rem;
					em{font-size: 28rem;}
				}
				p{ font-size: 14rem;}
			}
	
			.main-tab{
				.con-box{  width: 100%;
					button{ padding: 19rem 0;}
				}
			}
		}
	
		/* SURVEY */
		.solution-survey{ padding: 20rem;
			.progress-bar{ top: 40rem; padding: 0 40rem;
				span{ height: 4rem;}
			}
			.survey-swiper-wrap{left: 20rem; right: 20rem; bottom: 0; }
			.survey-swiper{width: 1048rem;
				.swiper-wrapper{
					.swiper-slide{ padding-bottom: 120rem;
						&.swiper-slide-active{ width: 164rem !important; padding-bottom: 100rem;}
						img{ transform: translateX(-22rem); }
					}
				}
			}
			.survey-wrap{
				.survey-slot{ height: 620rem;
					h2{ font-size: 28rem;}
					.btn-wrap{ bottom: 0rem; position:relative; margin-top:20rem;}
					&.survey-visual{ padding-top: 70rem;
						.txt-box{
							p{ margin-top: 12rem; font-size: 15rem;
								em{ font-size: 18rem;}
							}
						}
						.btn-wrap{ bottom: 0; margin-top:30rem;}
					}
					&.step-slot{ padding: 50rem 20rem 20rem;
						.txt-box{
							p{ font-size: 12rem;}
							h3{ font-size: 23rem; margin-top: 7rem;}
						}
						.answer-box{ display: block; margin-top: 14rem;
							.img-box{ 
								img{ width: auto; height: 110rem;}
							}
							.ip-box{ width: 100%; margin: 20rem 0 0;
								label{
									&:not(:last-child){ margin-bottom: 8rem;}
									p{  height: 50rem; padding: 14rem 18rem; font-size: 15rem;}
									i{ width: 18rem; height: 18rem;}
								}
								&.ty2{ 
									label:not(:last-child){ width: calc(50% - 4rem); margin:0 0 8rem;}
								}
							}
						}
						.btn-wrap{ 
							button{ width: 100%; height: 49rem;
								&.nxt{ margin-left: 8rem;}
							}
						}
					}
					&.result-slot{ padding: 40rem 20rem;
						.wash-info{ display: block; padding: 30rem 0 40rem; margin-bottom: 40rem;
							.img-box{ width: 295rem; height: 248rem; margin: 0 auto 30rem; padding: 0;
								img{ width: 70rem;}
							}
							.txt-box{ text-align: center;
								em{ font-size: 24rem;}
								p{ font-size: 15rem; margin: 10rem 0 30rem;
									br{ display: none;}
								}
							}
						}
						.recommend{
							.tit{ font-size: 24rem;}
							.recommend-list{  margin: 30rem 0 40rem;
								li{ width: 295rem; margin: 0 auto;
									+ li{ margin: 16rem auto 0;}
									a{  padding: 0; border: none;
										.img-box{ width: 130rem; height: 140rem; padding: 0; border-radius: 4rem; margin-right: 18rem;}
										.txt-box{
											i{ font-size: 12rem; margin-bottom: 0;}
											p{ margin-bottom: 20rem;}
											span{ font-size: 12rem; border-width: 1px;
												&::after{ width: 9rem; height: 9rem; margin-left: 2rem;}
											}
										}
									}
								}
							}
						}
						.more-btn{font-size: 13rem;
							&::after{ width: 9rem; height: 9rem; margin:0 0 0 8rem;}
						}

						&.combo{
							.wash-info .img-box img{ width: 98rem;}						
						}
					}
				}
			}
		}
	
		/* DETIALS */
		.line-txt{ font-size: 12rem; padding: 0 3rem;}
		.detail-compare{ padding: 60rem 0 80rem;
			h1{ text-align: center; font-size: 28rem;}
			.compare-form{ margin: 60rem 0;
				ul{
					li{ width: 100%; transform: translateY(-10%); 
						+ li{ margin-left: 17rem; transform: translateY(10%);}
                  		.img-box{ height: 270rem;
							b{ font-size: 72rem;}
							img{ width: 82rem;}
						}
						&:last-child .img-box img{ width: 96rem;}
						.txt-box{ margin-top: 20rem;
							p{ font-size: 15rem; margin-bottom: 10rem;}
						}
					}
				}
			}
	
			.compare-volume{
				ul{
					li{ width: calc(50% - 8rem);
						+ li{ margin-left: 17rem;}
						.img-box{
							img{ width: 100%; height: 52vw; object-fit: cover;}
						}
						.txt-box{ margin-top: 35rem;
							&::before{ width: 26rem; height: 18rem;}
							p{ font-size: 15rem; margin: 17rem 0 10rem;}
						}
					}
				}
			}
			
			.compare-space{ margin-top: 88rem; 
				.wash-tit{ position: relative;}
				.compare-space-wrap{ width: 100%; }
				.img-box{ position: relative; right: auto; left: -20rem; width: calc(100% + 40rem); height: auto; background-color: #fff; border-radius:0;
					.txt-box{ padding: 6rem 20rem; font-size: 10rem;}
				}
				.tab-box{ margin-top: 24rem;
					ul{
						li{ padding: 24rem; 
							+ li{ margin-top: 12rem;}
							.tit{ font-size: 15rem; 
								&::before, &::after{ width: 8rem; height: 2rem;}
							}
							.info{ font-size: 18rem; padding-right: 60rem;
								br{ display: none;}
							}
							&.on .info{ display: block; padding-top: 24rem;}
						}
					}
					.recommend-box{ border-radius: 10rem; margin-top: 44rem; padding: 26rem 0 26rem 93rem;
						img{ width: 51rem; left: 22rem;}
						.txt-box{
							.txt1{ font-size: 12rem;}
							.txt2{ font-size: 15rem; margin:6rem 0 0;
								&::after{ content: ''; display: inline-block; width: 16rem; height: 16rem; border-radius: 50%; background: url(../img/washtower-washcombo/icon-btn-arr.png)no-repeat center center / 50% auto; background-color: #000; transform: translate(5rem, 3rem);}
							}
						}
					}
				}
			}	
		}
	
		.find-pd-main-tit{ padding:83rem 0; font-size: 26rem;}
		
		.find-lifestyle{ 
			.wash-tit{ text-align:center;
            	p{font-size: 12rem; margin-top: 10rem;}
            }
			.lifestyle-list{ padding-bottom: 60rem;
				> ul > li{ margin-top: 60rem; display: block;
					.img-box{ width:100%; height: 200rem; padding: 16rem; position: absolute; left: 0; top: 73rem;}
					&:nth-child(1) .img-box{ padding: 25rem;}
					.txt-box{  width: 100%; margin-top: 30rem;
						.tit{ font-size: 20rem; margin: 6rem 0 240rem; 
							span{ font-size: 12rem; margin-left: 3rem;}
						}
						.point{ font-size: 15rem;
							li{
								+ li { margin-top: 6rem;}
								&::before{ margin-right: 4rem;}
							}
						}
						.hashtag{ padding:16rem 0 18rem; margin-bottom: 0; border:none;
							li{ padding: 4rem 10rem; font-size: 12rem; margin-right: 4rem;}
						}
						.name{ font-size: 15rem; border: 1px solid #dfdfdf; border-radius: 8rem; padding: 16rem; justify-content: center;
							span{ font-size: 0; width: 16rem; height:16rem; text-indent: -9999rem; overflow: hidden; border: none;
								&::after{ width: 9rem; height: 9rem;margin:0 0 0 6rem;}
							}
						}
					}
				}
			}
		}
	
		.wash-pagi{ padding: 4rem;
			button, span{ width: 80rem; font-size: 12rem; padding: 8rem 0;}
		}
	
		.find-function{ padding: 60rem 0 210rem;
			.wash-tit{ margin-bottom:28rem;}
			.wash-pagi{ width:301rem; bottom: 0;}
			.func-nav{ position: relative;
				span{ width: 36rem; height: 36rem; left: auto; right: 46rem; top:auto; bottom: 0; transform: rotate(180deg); background-color: #999; opacity: 1; border-radius: 50%; box-shadow: 2rem 8rem 20rem rgba($color: #848BA2, $alpha: .1); cursor: pointer; z-index: 10; background-image: url(../img/washtower-washcombo/icon-btn-arr.svg);
					&.nxt{ right: 0; transform: none;}
					&.swiper-button-disabled{ opacity: 1;}
					&.disabled{ opacity:.2; background-image: url(../img/washtower-washcombo/icon-btn-arr-b.svg); background-color: transparent; border-color:#000; cursor: default;}
				}
			}
			.function-info{ margin-top: 20rem; overflow: visible;
				.info-slot{  
					.info-box{ display: block; padding: 20rem 20rem 0; border-radius: 4rem 4rem 0 0;
						> div{ width: 100%;}
						.img-box{ margin: 0 auto;
							.img-wrap video{ height: 85.6vw;}
							p{ font-size: 10rem; margin-top: 8rem;}
						}
						.txt-box{ padding: 32rem 0 20rem; display: block; position: static; border-bottom: 1px solid #EEECE9; margin-left: 0;
							.txt-wrap{
								span{ font-size: 15rem;}
								b{ margin: 6rem 0 20rem; font-size: 22rem;}
								p{ min-height: 144rem;
									br{ display: none;}
								}
							}
							.more-btn{ font-size: 12rem; position: relative; bottom: 0; margin-top: 28rem;
								i{ width: 8rem; height: 8rem; margin-left: 6rem;}
							}
							.swiper{margin-top: 0; position: absolute; left: 0;  top: 100%; border: 20rem solid #fff; border-width: 30rem 20rem; background-color: #fff; border-radius: 0 0 4rem 4rem;
								.swiper-slide{  height: 90rem; padding: 0 27rem;
									img{ width: 25rem;}
									.txt{ margin-left: 20rem;
										p{ font-size: 12rem;}
										a{ font-size: 12rem;
											&::after{ width: 9rem; height: 9rem;}
										}
									}
								}
								.pagi{ margin-top: 12rem; padding-bottom: 0;
									span{ width: 6rem; height: 6rem;}
								}
							}
						}
					}
					&.f_delicate .info-box .txt-box .swiper{ border-width: 22rem 20rem 20rem; border-radius: 0;}
					.features-box{ padding: 24rem 20rem; font-size: 12rem;
						span{ margin-bottom: 15rem;}
						p + span{ margin-top: 20rem;}
					}
				}
			}
		}
		
		.find-color{ padding: 60rem 0;
			.color-info-txt{ margin: 20rem 0 30rem; font-size: 15rem;}
			.color-info{ width: calc(100% + 40rem); left: -20rem; position: relative;
				.info-slot{
					.img-list{ border-radius: 0;}
					.swiper-wrap{ width: 100%; left: 0; transform: none; bottom: 16rem;
						&::before{ top: 10rem; bottom: 10rem; border-radius: 0;}
						.sld-nav{ display: none;}
						.swiper{ width: 100% !important; padding: 0 26rem;
							.swiper-slide{ font-size: 10rem;
								&::before{ border-radius: 12rem;} 
								.inner{ padding: 25rem 0;
									.palette{ width: 34rem; height: 34rem;}
									.name{ height: 28rem; }
								}
							}
						}
					}
				}
			}
			.info{ font-size: 10rem; margin-top: 8rem;}
		}

		.find-product .txt-box ._btn{ margin-top: 24rem; border: none;}
	
		.wash-faq{ padding: 60rem 0 80rem;
			h2{ margin-bottom: 25rem; font-size: 18rem;
				strong{ font-size: 24rem;}
			}
			.tab-list{
				li{ padding: 0 20rem;
					+ li{ margin-top: 12rem;}
					.q-box{ padding: 28rem 22rem 28rem 0; font-size: 15rem;
						&::after{ width: 12rem; height: 12rem;}
					}
                    .a-box{ padding: 24rem 0 28rem;
                        .btn-wrap{ margin-top:15rem;
                             span{margin-bottom:10rem; font-size: 14rem;}
                            ._btn{ padding:6rem 18rem; font-size:14rem; width: 100%; margin: 0; justify-content: center;
                                + ._btn{ margin-top:8rem;}
                             }
                        }
                    }
				}
			}
		}
	}
	
}


@media (max-width: 370px) {
	.container-washtower-washcombo .find-function{
		.wash-tit h3{ white-space: nowrap;}
		// .func-nav span{  top:calc(85.6vw + 586rem);}
		.function-info .info-slot .info-box .txt-box .txt-wrap{
			span{ white-space: nowrap;}
			b{ min-height: 93rem;}
			br{ display: none;}
			p{ min-height: 192rem;}
		}
	}
}