@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../fonts/Pretendard-Light.eot);
  src:
    local("☺"),
    url(../fonts/Pretendard-Light.eot#iefix) format("embedded-opentype"),
    url(../fonts/Pretendard-Light.woff2) format("woff2"),
    url(../fonts/Pretendard-Light.woff) format("woff"),
    url(../fonts/Pretendard-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../fonts/Pretendard-Regular.eot);
  src:
    local("☺"),
    url(../fonts/Pretendard-Regular.eot#iefix) format("embedded-opentype"),
    url(../fonts/Pretendard-Regular.woff2) format("woff2"),
    url(../fonts/Pretendard-Regular.woff) format("woff"),
    url(../fonts/Pretendard-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../fonts/Pretendard-Medium.eot);
  src:
    local("☺"),
    url(../fonts/Pretendard-Medium.eot#iefix) format("embedded-opentype"),
    url(../fonts/Pretendard-Medium.woff2) format("woff2"),
    url(../fonts/Pretendard-Medium.woff) format("woff"),
    url(../fonts/Pretendard-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../fonts/Pretendard-SemiBold.eot);
  src:
    local("☺"),
    url(../fonts/Pretendard-SemiBold.eot#iefix) format("embedded-opentype"),
    url(../fonts/Pretendard-SemiBold.woff2) format("woff2"),
    url(../fonts/Pretendard-SemiBold.woff) format("woff"),
    url(../fonts/Pretendard-SemiBold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../fonts/Pretendard-Bold.eot);
  src:
    local("☺"),
    url(../fonts/Pretendard-Bold.eot#iefix) format("embedded-opentype"),
    url(../fonts/Pretendard-Bold.woff2) format("woff2"),
    url(../fonts/Pretendard-Bold.woff) format("woff"),
    url(../fonts/Pretendard-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  font-display: swap;
  src: url(../fonts/Pretendard-ExtraBold.eot);
  src:
    local("☺"),
    url(../fonts/Pretendard-ExtraBold.eot#iefix) format("embedded-opentype"),
    url(../fonts/Pretendard-ExtraBold.woff2) format("woff2"),
    url(../fonts/Pretendard-ExtraBold.woff) format("woff"),
    url(../fonts/Pretendard-ExtraBold.otf) format("opentype");
  font-weight: 800;
  font-style: normal;
}

/* CSS Reset */
#gjw001 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

#gjw001 {
  font-family: "Pretendard", sans-serif;
  color: #191c1f;
  line-height: 1.6;
  word-break: keep-all;
  padding-top: 60px;
}

#gjw001 ul,
#gjw001 ol {
  list-style: none;
}
#gjw001 ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#gjw001 a {
  text-decoration: none;
  color: inherit;
}

#gjw001 img {
  max-width: 100%;
  height: auto;
  display: block;
}
.rounded-img {
  margin: 0 auto;
  border-radius: 40px;
}
#gjw001 .blind {
  position: absolute;
  width: 1px;
  height: 1px;
}

/* 공통 스타일 */
#gjw001 .container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0;
}
#gjw001 .container video {
  max-width: 100%;
}
#gjw001 .text-center {
  text-align: center;
}

#gjw001 .mt-20 {
  margin-top: 20px;
}

#gjw001 .mt-40 {
  margin-top: 40px;
}

#gjw001 .mt-60 {
  margin-top: 60px;
}

#gjw001 .mt-80 {
  margin-top: 80px;
}

#gjw001 .mt-140 {
  margin-top: 140px;
}

#gjw001 .mt-140 {
  margin-top: 140px;
}

#gjw001 .point-color {
  color: #ea1917;
}

#gjw001 .notice-text {
  font-size: 14px;
  color: #646669;
  line-height: 144%;
  letter-spacing: -0.005em;
  margin-top: 15px;
}

#gjw001 ul.notice-text {
  text-align: left;
  margin-top: 20px;
  gap: 0;
}

#gjw001 ul.notice-text li {
  padding-left: 1em;
  text-indent: -0.6em;
  word-break: break-all; /* 긴 영문 단어가 있을 경우 줄바꿈이 되도록 추가 */
}

#gjw001 ul.notice-text li.mt-12 {
  margin-top: 12px;
}

/* 뱃지 & 넘버링 */
#gjw001 .badge-guide {
  display: inline-block;
  border: 1px solid #ea1917;
  color: #ea1917;
  width: 118px;
  height: 40px;
  padding: 6px 0 4px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
}

#gjw001 .sec-num {
  display: inline-block;

  height: 33px;
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 2px;
  border: 1px solid #ea1917;
  color: #ea1917;
  border-radius: 34px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
}

/* 섹션 타이틀 */
#gjw001 .sec-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #191c1f;
}

#gjw001 .sec-desc {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 60px;
  color: #191c1f;
  letter-spacing: -0.005em;
  line-height: 1.4;
}

/* 메인 헤더 */
#gjw001 .hero-section {
  padding-top: 66px;
}

#gjw001 .hero-title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.4;
  color: #191c1f;
  margin-bottom: 28px;
}

#gjw001 .hero-desc {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 80px;
  letter-spacing: -0.005em;
  color: #191c1f;
  line-height: 1.4;
}

#gjw001 .hero-img-wrap {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}
#gjw001 .hero-img-wrap img {
  width: 100%;
}
#gjw001 .hero-notice {
  text-align: left;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 16px;
}

#gjw001 p.notice-text.hero-notice {
  font-size: 14px;
  line-height: 144%;
  letter-spacing: -0.005em;
  color: #646669;
  max-width: 1380px;
}

/* 3줄 요약 섹션 */
#gjw001 .summary-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.68;
  margin-bottom: 24px;
}

#gjw001 .summary-box {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 48px 20px;
  display: flex;
  justify-content: center;
}

#gjw001 .summary-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 9px;
}

#gjw001 .summary-list li {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.005em;
  position: relative;
  padding-left: 14px;
  text-align: left;
}

#gjw001 .summary-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}

/* 회색 박스 (Check Point) */
#gjw001 .gray-box {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 60px 128px 48px 128px;
  margin-top: 20px;
  text-align: left;
}

#gjw001 .gray-box.text-center {
  text-align: center;
}

#gjw001 .box-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  line-height: 1.4;
}

#gjw001 .check-list {
  max-width: 1124px;
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

#gjw001 .check-list li {
}

#gjw001 .check-list li:last-child {
  margin-bottom: 0;
}

#gjw001 .check-list .num {
  display: inline-block;
  width: 25px;
  height: 24px;
  background-color: #ea1917;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 8px;
  flex-shrink: 0;
}

#gjw001 .check-list .tit {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  line-height: 1.4;
  letter-spacing: -0.005em;
}
#gjw001 .g-box2 .check-list .tit {
  margin-bottom: 4px;
}
#gjw001 .check-list .txt {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  color: #333;
  display: block;
  letter-spacing: -0.005em;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  padding-left: 33px;
}

#gjw001 .check-list li:last-child .txt {
  border-bottom: none;
}

/* Tip 박스 */
#gjw001 .tip-section {
  margin-top: 120px;
}

#gjw001 .tip-badge {
  color: #ea1917;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

#gjw001 .tip-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #191c1f;
  letter-spacing: -0.005em;
}

#gjw001 .tip-desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.005em;
  color: #191c1f;
}

#gjw001 .tip-box {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 40px;
  margin-top: 40px;
}

#gjw001 .tip-box-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 7.43px;
  line-height: 1.5;
  color: #191c1f;
  letter-spacing: -0.005em;
}

#gjw001 .tip-box-title .light-text {
  color: rgba(25, 28, 31, 0.6);
  /* #191C1F의 60% 투명도 */
}

#gjw001 .tip-list {
  max-width: 838px;
  margin: 0 auto;
}

#gjw001 .tip-list li {
  font-size: 22px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  line-height: 1.4;
  letter-spacing: -0.005em;
}

#gjw001 .tip-list li strong {
  font-weight: 700;
  white-space: nowrap;
  margin-right: 5px;
}

/* 가이드 박스 (Section 04) */
#gjw001 .guide-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 140px;
}

#gjw001 .guide-item {
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 30px;
  text-align: left;
  flex: 1;
}

#gjw001 .guide-item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ea1917;
}

#gjw001 .guide-item p.desc {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: -0.005em;
  line-height: 1.4;
}

#gjw001 .guide-item ul li {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.005em;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
}

#gjw001 .guide-item ul li img.chk {
  width: 16px;
  margin-right: 6px;
  margin-top: 5px;
  flex-shrink: 0;
}

/* 하단 배너 */
#gjw001 .bottom-banner {
  background-color: #f4f4f4;
  background-image: url("../../images/basic-spec-dolby-tv/pc/img5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 50px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  text-align: left;
  aspect-ratio: 1380/360;
}

#gjw001 .bottom-banner h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

#gjw001 .btn-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#gjw001 .btn-black {
  display: inline-block;
  background-color: #111;
  color: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
}
#gjw001 img.right-arrow {
  width: 5.5px;
  height: 11px;
  margin-left: 12px;
}
#gjw001 .btn-black:hover {
  background-color: #333;
}

#gjw001 .container.pdb120 {
  padding-bottom: 120px;
}
#gjw001 span.red-underbar {
  position: relative;
}
#gjw001 span.red-underbar::before {
  position: absolute;
  content: "";
  background-color: #ea1917b2;
  height: 2px;
  width: 100%;
  bottom: 1.5px;
  left: 1px;
}
#gjw001 span.red-underbar.underbar-t1::before {
  width: 20.6px;
}
#gjw001 span.red-underbar.underbar-t2::before {
  width: 10.3px;
}
#gjw001 span.red-underbar.underbar-t3::before {
  width: 13.7px;
}
@media screen and (max-width: 950px) {
  #gjw001 .hero-title br {
    display: none;
  }
}

#gjw001 .mo-br {
  display: none;
}

#gjw001 .mo-sm-br {
  display: none;
}

#gjw001 .mo-xs-br {
  display: none;
}

#gjw001 .mo-530-br {
  display: none;
}

/* 반응형 모바일 (767px 이하) */
@media screen and (max-width: 767px) {
  #gjw001 {
    padding-top: 0;
  }

  #gjw001 .mo-br2,
  #gjw001 .hero-title .mo-br2 {
    display: block;
  }

  #gjw001 .pc-br {
    display: none;
  }

  #gjw001 .mt-108 {
    margin-top: 82px;
  }

  #gjw001 .mt-140 {
    margin-top: 80px;
  }

  #gjw001 .container {
    padding: 0 20px;
  }

  #gjw001 .summary-title {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 32px;
  }

  #gjw001 .summary-box {
    padding: 24px 20px;
    border-radius: 7.6px;
  }

  #gjw001 .summary-list li {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.005em;
  }

  #gjw001 .summary-list li::before {
    top: 9px;
  }

  #gjw001 .hero-title {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 12px;
  }

  #gjw001 .badge-guide {
    width: 100px;
    height: 32px;
    font-size: 14px;
    line-height: 168%;
    margin-bottom: 16px;

    padding: 0;
    padding-top: 2px;
    place-content: center;
  }

  #gjw001 .hero-desc {
    font-size: 16px;
    margin-bottom: 48px;
    line-height: 1.6;
  }

  #gjw001 .sec-num {
    width: auto;
    padding-left: 18px;
    padding-right: 18px;
    height: 30px;
    font-size: 14px;
    margin-bottom: 8px;
    padding-top: 2px;
    padding-bottom: 0;
    align-content: center;
    letter-spacing: -0.005em;
  }

  #gjw001 .sec-title {
    font-size: 28px;
    line-height: 1.4;
    letter-spacing: -0.005em;
    margin-bottom: 8px;
  }

  #gjw001 .sec-desc {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.005em;
    margin-bottom: 32px;
  }

  #gjw001 .gray-box {
    padding: 20px 25px;
    margin-top: 12px;
  }
  #gjw001 .g-box2 {
    margin-top: 32px;
    padding-top: 28px;
  }
  #gjw001 .box-title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  #gjw001 .check-list {
    gap: 0;
  }

  #gjw001 .check-list div {
    padding: 10px 0 16px 10px;
  }
  #gjw001 .g-box2 .check-list div {
    padding-top: 14px;
    padding-bottom: 12px;
  }
  #gjw001 .g-box2 .check-list li:last-child div {
    padding-bottom: 0;
  }
  #gjw001 .check-list .tit {
    font-size: 16px;
    line-height: 1.44;
    margin-bottom: 4px;
  }

  #gjw001 .check-list .num {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 11.2px;
  }

  #gjw001 .check-list .txt {
    font-size: 14px;
    padding-bottom: 14px;
    padding-left: 29px;
    line-height: 1.6;
  }
  #gjw001 .g-box2 .check-list .txt {
    padding-bottom: 16px;
  }
  #gjw001 .tip-section {
    margin-top: 40px;
  }
  #gjw001 .tip-badge {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.6;
  }

  #gjw001 .tip-title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 8px;
  }

  #gjw001 .tip-desc {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.005em;
  }

  #gjw001 .tip-box {
    padding: 32px 46px;
    margin-top: 32px;
  }

  #gjw001 .tip-box-title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 16px;
  }

  #gjw001 .tip-list li {
    display: block;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: -0.005em;
    font-weight: 400;
  }

  #gjw001 .guide-grid {
    flex-direction: column;
    margin-bottom: 80px;
  }

  #gjw001 .bottom-banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 28px 30px 22px 28px;
    background-image: url("../../images/basic-spec-dolby-tv/mo/img5.jpg");
    background-position: right;
    aspect-ratio: 1 / 1;
  }

  #gjw001 .bottom-banner h2 {
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 1.4;
    letter-spacing: -0.005em;
  }

  #gjw001 .bottom-banner .banner-txt {
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  #gjw001 .btn-wrap {
    flex-direction: row;
    gap: 7.5px;
    height: 40px;
  }

  #gjw001 .btn-black {
    font-size: 13px;
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    min-width: 120px;
    flex: 1;
  }

  #gjw001 .btn-wrap .btn-black:first-child {
    flex: 0 0 120px;
  }

  #gjw001 .hero-notice {
    padding-left: 20px;
    padding-right: 20px;
  }

  #gjw001 p.notice-text.hero-notice {
    font-size: 11px;
    line-height: 1.6;
    letter-spacing: -0.005em;
    margin-left: 20px;
    margin-bottom: 4px;
  }

  #gjw001 ul.notice-text {
    margin-top: 12px;
    line-height: 1.6;
    gap: 0;
  }

  #gjw001 .notice-text {
    font-size: 11px;
  }

  #gjw001 ul.notice-text li.mt-12 {
    margin-top: 8px;
  }

  #gjw001 .guide-item {
    padding: 32px 20px;
  }
  #gjw001 .guide-item h4 {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.4;
  }
  #gjw001 .guide-item p.desc {
    margin-bottom: 16px;
    line-height: 1.6;
    letter-spacing: -0.005em;
    font-size: 16px;
  }

  #gjw001 .guide-item ul li {
    font-size: 14px;
    letter-spacing: -0.005em;
    line-height: 1.6;
  }

  #gjw001 .guide-item ul li img.chk {
    margin-top: 6px;
  }

  #gjw001 .container.pdb120 {
    padding-bottom: 70px;
  }
  #gjw001 .rounded-img {
    border-radius: 20px;
  }
}

/* 530px 이하 */
@media screen and (max-width: 530px) {
  #gjw001 .mo-530-br {
    display: block;
  }

  #gjw001 p.notice-text.hero-notice {
    padding-left: 8px;
    text-indent: -8px;
  }
  #gjw001 .mo-br,
  #gjw001 .hero-title .mo-br {
    display: block;
  }
}

/* 반응형 소형 모바일 (500px 이하) */
@media screen and (max-width: 500px) {
  #gjw001 .mo-sm-br {
    display: block !important;
  }
}

/* 반응형 초소형 모바일 (450px 이하) */
@media screen and (max-width: 450px) {
  #gjw001 .mo-xs-br {
    display: block !important;
  }
}
