
.buying-guide-special .product-table .buying-guide-spec-table th,
.buying-guide-special .product-table .buying-guide-spec-table td { font-size: 16px; }

.buying-guide-special .product-table .buying-guide-spec-table thead th,
.buying-guide-special .product-table .buying-guide-spec-table thead th:not([rowspan]) { 
  font-size: 18px;
}

.buying-guide-special .product-table .buying-guide-spec-table #__table_2 td,
.buying-guide-special .product-table .buying-guide-spec-table #__table_4 td,
.buying-guide-special .product-table .buying-guide-spec-table #__table_6 td,
.buying-guide-special .product-table .buying-guide-spec-table #__table_8 td { font-size: 14px; }

.buying-guide-special .product-table .buying-guide-spec-table thead th:first-child,
.buying-guide-special .product-table .buying-guide-spec-table tbody th:first-child { width: 100px; }
.buying-guide-special .product-table .buying-guide-spec-table thead th:first-child[colspan="2"],
.buying-guide-special .product-table .buying-guide-spec-table tbody th:first-child[colspan="2"] {
  width: 200px;
}

.buying-guide-special .product-table .buying-guide-spec-table .btn-product { height: 52px; font-size: 14px; }
.buying-guide-special .product-table .buying-guide-spec-table #__table_2 td { padding: 18px 3px; }
.buying-guide-special .product-table .buying-guide-spec-table #__table_2 .th2 { padding: 5px; }
.buying-guide-special .product-table .buying-guide-spec-table #__table_2 .procuct-img { margin: -10px; padding: 29px 0; }

.buying-guide-special .product-table .buying-guide-spec-table .btn-product { padding: 5px 20px; height: 52px; align-items: center; font-size: 14px; max-width: calc(100% - 12px); }
.buying-guide-special .product-table .buying-guide-spec-table .gray { color: #666; }
.buying-guide-special .product-table .buying-guide-spec-table b + .gray { margin-top: 6px; }
.buying-guide-special .product-table .table-wrap .desc b { line-height: 24px; }
.buying-guide-special .product-table .table-wrap .th2 p { color: #000; font-weight: 400; font-size: inherit; margin: 0; }
.buying-guide-special .product-table .table-wrap .th2 { padding: 16px 2px; }

/* .buying-guide-special .product-table .clone-header-table-wrap { left: 50%; } */
.buying-guide-special .clone-header-table-wrap .table-wrap thead tr:first-child th:first-child { width: 100px; }

.buying-guide-special .aling-top-left {
  padding: 20px 16px !important;
}

@media (max-width: 1280px) {
  .buying-guide-special .product-table .buying-guide-spec-table:not(.buying-guide-spec-table-single) table, 
  .buying-guide-special .product-table .buying-guide-spec-table:not(.buying-guide-spec-table-single) .clone-header-table-wrap{ min-width: 1260px; }

  .buying-guide-special .product-table .buying-guide-spec-table #__table_1,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_1 + .clone-header-table-wrap { min-width: 1556px; }
  .buying-guide-special .product-table .buying-guide-spec-table #__table_2,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_2 + .clone-header-table-wrap { min-width: 1380px; }

  .buying-guide-special .product-table .buying-guide-spec-table #__table_4,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_4 + .clone-header-table-wrap,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_4 + .clone-header-table-wrap .clone-header-table { min-width: 730px; }
}

@media (max-width: 768px) {
  .buying-guide-special .product-table .table-wrap table th, 
  .buying-guide-special .product-table .table-wrap table td { font-size: 14px; }
  .buying-guide-special .product-table .buying-guide-spec-table thead th,
  .buying-guide-special .product-table .buying-guide-spec-table thead th:not([rowspan]) { 
    font-size: 16px;
  }

  .buying-guide-special .product-table .buying-guide-spec-table #__table_2 tbody th,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_2 td,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_4 tbody th,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_4 td,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_6 tbody th,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_6 td,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_8 tbody th,
  .buying-guide-special .product-table .buying-guide-spec-table #__table_8 td { 
    font-size: 12px;
  }
  .buying-guide-special .product-table .buying-guide-spec-table #__table_1 td { font-size: 14px; } 
  .buying-guide-special .product-table .buying-guide-spec-table .btn-product { height: 60px; }

}



/* .buying-guide-special #table_1 { min-width: 1300px; } */